
body, html {
    font-family: 'lato', sans-serif;
    font-size: 22px;
    background-color: rgb(252, 252, 252);
}
.hero-image {
    background-image: linear-gradient(rgba(7, 7, 7, 0.274), rgba(12, 12, 12, 0.432)), url("../img/placeimg_1000_480_nature.jpg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(252, 244, 244);
    font-family: 'lato', sans-serif;
    font-size: small;
    }
    .hero-text > h1, .hero-text > h3 {
        background: linear-gradient(rgba(7, 7, 7, 0.06), rgba(10, 10, 10, 0.5), rgba(7, 7, 7, 0.06));
        padding: 15px;
    }
    h2 { 
        text-align: center;        
        margin: 100px 0 20px 0;
        color: rgb(1, 63, 1);
        font-size: 48px;
    }
    h3 {
        font-weight: 580;
    }
    nav {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-flow: row wrap;
        position: sticky;
        top: 0px;
        font-size: 20px;
        z-index: 2;
        background: linear-gradient(rgba(7, 7, 7, 0.06), rgba(10, 10, 10, 0.164), rgba(7, 7, 7, 0.06));
    }
    nav.home {
        margin-top: -70px;
    }
    nav > div {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    section > a, div > a {
        color: rgb(143, 155, 146);
        text-decoration: none;
        padding: 1em 0.9em;
        border-bottom: 5px solid rgba(0, 128, 0, 0);
    }   
    a:hover, #current-page {
        border-bottom: 5px solid green;
        background: linear-gradient(rgba(7, 7, 7, 0.06), rgba(10, 10, 10, 0.16), rgba(7, 7, 7, 0.06));
        color: green;
    }
    div > a:hover {
        border-bottom: 5px solid green;
        background: linear-gradient(rgba(7, 7, 7, 0.26), rgba(10, 10, 10, 0.57), rgba(7, 7, 7, 0.26));
        color: rgb(4, 219, 4);
    }
    main.home {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        box-shadow: 1px solid black;
        margin-bottom: 50px;
    }
    section {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    img {
        width: 200px;
    }
    section > a {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 300px;
        border-bottom: 5px solid rgba(255, 0, 0, 0);
        box-shadow: 2px 2px 5px black;
        padding: 10px 10px 0px 10px;
        margin: 5px;
        font-size: 34px;
    }
    main.rest {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        border: ridge 6px rgba(0, 128, 0, 0.356);
        width: 80%;
        max-width: 1000px;
        padding: 10px;
        margin: 30px auto;
        background-color: linen;
    } 
    main.rest > h1, main.rest > p, section > img, .main-img {
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.651);
        padding: 10px;
        margin: 10px;
        background: linear-gradient(rgba(0, 128, 0, 0.1), rgba(0, 128, 0, 0.17), rgba(0, 128, 0, 0.1));        
    }
    p {
        width: 80%;
    }
    .main-img {
        width: 80%;
        max-width: 400px;
    }
    footer {
        background: linear-gradient(rgba(7, 7, 7, 0.06), rgba(10, 10, 10, 0.164), rgba(7, 7, 7, 0.06))
    }
    ul {
        list-style-type: none;
        font-size: 24px;
        color: rgba(0, 0, 0, 0.616);
    }
    @media only screen and (min-width: 1208px) {
        nav, nav > div {
            gap: 40px;
        }
    }
    @media only screen and (max-width: 866px) {
        nav, nav > div {
            gap: 10px;
        }
}
@media only screen and (max-width: 800px) {
    nav, nav > div {
        gap: 2px;
    }
}
@media only screen and (max-width: 733px) {
    nav.home {
        margin-top: -140px;
    }
}
@media only screen and (max-width: 700px) {
    nav, nav > div {
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 499px) {
    nav.home {
        margin-top: -212px;
    }
}



